body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

.machine {
    margin-top: 20%;
    justify-content: center;
    display : flex;
}


img {
    width : 15vh;
}