body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.machine {
    margin-top: 20%;
    text-align: center;
}

img {
    width : 15vh;
}